*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #F6F7F9;
}
.display{
  display: grid;
  grid-template-columns: repeat(4,320px) ;
  grid-template-rows: repeat(2,400px) ;
  grid-area: 
  'Card Card Card Card'
  'Card Card Card Card';
  gap: 10px;
  margin-left: 50px;
}